<ul id="user-info">
  <li>
    <%= content_tag :strong, current_user.name %>
  </li>
  <li>
    <%= content_tag :small, '@'+current_user.username %>
  </li>
  <li>
    <table>
      <tbody>
        <tr>
          <td>
            <%= content_tag :strong, current_user.tweets.count %>
            <%= content_tag :small, 'Tweets', :class => "uppercase pad-right" %>
          </td>
          <td>
            <%= content_tag :strong, current_user.follows.count %>
            <%= content_tag :small, 'Following', :class => "uppercase pad-right" %>
          </td>
          <td>
            <%= content_tag :strong, Follow.where(:following_id => current_user.id).count %>
            <%= content_tag :small, 'Followers', :class => "uppercase pad-right" %>
          </td>
      </tbody>
    </table>
  </li>
  <li>
    <%= form_for (@tweet || :tweet), :url => tweets_path,
                                     :builder => InlineErrorsBuilder,
                                     :method => :POST,
                                     :role => :form do |f| %>
      <div class="mar-top-15">
        <%= content_tag :div do %>
          <%= f.text_area :content, :placeholder => "Compose new Tweet..." %>
          <%= f.errors_for :content %>
        <% end %>

        <%= f.submit "Tweet" %>
      </div>
    <% end %>
  </li>
</ul>

<div id="nav-links">
  <span id="navItemFollow"><%= nav_item("Follow Users", follows_path)%></span>
  <span id="navItemTweets"><%= nav_item("Tweets", tweets_path)%></span>
  <span id="navItemAbout"><%= nav_item("About", about_path) %></span>
  <span id="navItemTeam"><%= nav_item("Team", team_path) %></span>
</div>